@{
    ViewBag.Title = "Database";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Images/EntityDesignerDiagram.jpg" alt="Entity model" width="800" height="340"></br>
<h3>Edit tables data</h3>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Cities", "/", "Cities")</li>
    <li>@Html.ActionLink("Plans", "/", "Plans")</li>
    <li>@Html.ActionLink("Transportations", "/", "Transportations")</li>
</ul></br>

